

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br><br>
      <!-- <img alt="#" class="wp-post-image" src="/assets/food.jpg" width="1140" height="284"> -->
      <%= image_tag "food.jpg", :size => "1140x1840", :class => "style_image" %>

      <h1 class="center"><span class="light">A</span> Little Something About XPRESS FOOD SUPPLY</h1>
      <hr class="divider">
      <div class="text-shrink">
        <p class="text-highlight">Our mission is to help reduce food supply waste in Qatar. Our main aim consumer or target audience is small scale suppliers and small business owners. We want to connect restaurants and suppliers to one another to help communicate their needs to each other. Suppliers want to ensure that food supplies are used before they’re wasted and restaurants are always running out of food supply and need to get them quickly. Through our platform, suppliers can help sell their near to expiry supplies and restaurants can get food supply delivery of the item they’re looking for quickly.</p>
      </div>
      <hr class="divider  divider-about">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3><span class="light">The</span> Beginnings</h3>
          <p class="text">The team was drawn to address an idea that has been existing in the food markets and supplies and had designed the innovative idea of this website, which is about reducing food waste in Qatar food markets. With the diverse skills of each of the members the team was able to bring this website to life and provide a platform  to reducing food supply waste while catering to urgent food supply needs. Our goal is to provide FAST, CHEAP and FREE site to connect small restaurants and food suppliers to fight food waste together<p>
        <h3><span class="light">What's</span> Happening Nowdays</h3>
          <p class="text">Through our research we founf that the issue of food waste in markets and food supply servers is increasing all over the world and so in our beloved country Qatar, so we researched and spoke with different suppliers and restaurant to reach the core of the problem and find statisics to prove the problem. Fortunatly, we were able to not find a solution to only reduce food waste, but also provide food supplies to new restuarants and startup to make use of this food and recieve it from whoever they want and whever they want<p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3><span class="light">Our</span> Plans in the Future</h3>
          <p class="text">For the future we would like your hand to assist this website by investing in this influencial project and be part of the users of this website and continuously provide feedback to further improve this innovative idea and make sure we reach every need of our users to make them happy. In addition, not forgeting the curcial part of this project which is the environment and sustainability, which will be acheived by eliminating food waste in the markets<p>
          <h3><span class="light">To</span> Our Users</h3>
          <p class="text">Value to restuarants: Get your food supplies with cheap prices from any food supplier you choose and get your food whenever you need it.
<br><br>
          Value to food suppliers: Have a platform to manage and sell your near to expiration food supplies to restuarants who are in an urgent need of them. Also, fight food waste in your market to acheive a sustainable market <p>
        </div>
      </div>
      <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="center"><span class="light">Meet</span> the Team</h1>
      <hr class="divider">
      <div class="push-down-35"></div>
    </div>
    <div class="col-xs-12  col-sm-3  push-down-30">
      <!-- <img alt="#" class="product__image  team-image" src="/assets/team-1.jpg"> -->
      <%= image_tag "team-1.jpg", :size => "300x300", :class => "style_image" %>

      <h5>Maryam AlNaemi</h5>
      <span class="team-title">Coordinator & Designer</span><br>
      <span> Designing in Indesign, Photoshop and Illustrator. Experienced in programming in ruby on rails, Java, Python and HTML.Project management.
</span>
    </div>
    <div class="col-xs-12  col-sm-3  push-down-30">
      <!-- <img alt="#" class="product__image  team-image" src="/assets/team-2.jpg"> -->
      <%= image_tag "team-2.jpg", :class => "style_image" %>

      <h5>Latifa AlThani</h5>
      <span class="team-title">Designer</span><br>
      <span>Designing in Indesign, Photoshop and Illustrator. Experienced in programming in ruby on rails, Java, Python and HTML. Problem solver
</span>
    </div>
    <div class="col-xs-12  col-sm-3  push-down-30">
      <!-- <img alt="#" class="product__image  team-image" src="/assets/team-3.jpg"> -->
      <%= image_tag "team-3.jpg", :class => "style_image" %>

      <h5>Noor AlAthba</h5>
      <span class="team-title">Developer</span><br>
      <span>Experienced in programming in ruby on rails, Java, Python and HTML. Problem solver. Project management.
</span>
    </div>
    <div class="col-xs-12  col-sm-3  push-down-30">
      <!-- <img alt="#" class="product__image  team-image" src="/assets/team-4.jpg"> -->
      <%= image_tag "team-4.jpg", :class => "style_image" %>

      <h5>Kaltham AlKhuzaei</h5>
      <span class="team-title">Developer</span><br>
      <span>Experienced in programming in ruby on rails, Java, Python and HTML. Debugging. Time management
</span>
    </div>
  </div>
</div>
    </div>
  </div>
</div>

  <div class="search-mode__overlay"></div>


    <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33538073-8', 'proteusthemes.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
