
<div class="container">
  <!-- Navigation for products -->
<div class="products-navigation  push-down-15">
  <div class="row">
    <div class="col-xs-12  col-sm-8">
      <div class="products-navigation__title">
        <h3><span class="light">Buy</span> Food Today and Prevent Tomorrow's Waste</h3>
      </div>
    </div>
    <div class="col-xs-12  col-sm-4">
      <div class="products-navigation__arrows">
        <a href="#js--latest-products-carousel" data-slide="prev"><span class="glyphicon  glyphicon-chevron-left  glyphicon-circle  products-navigation__arrow"></span></a>&nbsp;
        <a href="#js--latest-products-carousel" data-slide="next"><span class="glyphicon  glyphicon-chevron-right  glyphicon-circle  products-navigation__arrow"></span></a>
      </div>
    </div>
  </div>
</div>

<%= link_to "Add New Item", new_product_path, :class=> "btn-anchor", :style => "margin-right: 920px" %>
<br><br>
<!-- Products -->
<div id="js--latest-products-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active">
      <div class="row">
            
                   
       <% @products.each do |product| %>

        <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-5" data-price="" data-rating="">
          <div class="products__single">
            <figure class="products__image">
              <a href="/products/<%= product.id %>">
                <%= image_tag product.image.url(:thumb), :class=> "product__image", :width=> "263", :height=>"334" %>
                <!-- <img alt="#" class="product__image" width="263" height="334" src="images/dummy/w263/15.jpg"> -->
              </a>
              <div class="product-overlay">
                <a class="product-overlay__more" href="single-product.html">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
                <a class="product-overlay__cart" href="#">
                  +<span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
                <div class="product-overlay__stock">
                  <span class="out-of-stock">&bull;</span> <span class="in-stock--text"> <%= product.unitsperpackage %>
                    
                  </span>
                </div>
              </div>
            </figure>
            <div class="row">
              <div class="col-xs-9">
                <h5 class="products__title">
                  <a class="products__link  js--isotope-title" href="single-product.html"><%= product.title %></a>
                </h5>
              </div>
              <div class="col-xs-3">
                <div class="products__price">
                  <%= product.price %>
                </div>
              </div>
            </div>
           <!--  <div class="products__category">
              <%= product.productbrand %>
            </div>   -->
            

             <table border="1" style="width:100%">

              <tr>
                <td><b>Brand</b></td>
                <td>&nbsp<%= product.productbrand %></td>
              </tr>

              <tr>
                <td><b>Discount:</b></td>
                <td>&nbsp<%= product.discount %></td>
              </tr>

              <tr>
                <td><b>Production Date:</b></td>
                <td>&nbsp<%= product.productiondate %></td>
              </tr>


              <tr>
                <td><b>Expiry Date:</b></td>
                <td>&nbsp<%= product.date %></td>
              </tr>


              <tr>
                <td><b>Units Per Package:</b></td>
                <td>&nbsp<%= product.unitsperpackage %></td>
              </tr>


              <tr>
                <td><b>Units:</b></td>
                <td>&nbsp<%= product.units %></td>
              </tr>


              <tr>
                <td><b>Discripton:</b></td>
                <td>&nbsp<%= product.productdiscription %></td>
              </tr>

              <tr>
                <td><b>Estimate Delivery Time:</b></td>
                <td>&nbsp<%= product.deliverytime %></td>
              </tr>

              <tr>
                <td><b>Location:</b></td>
                <td>&nbsp<%= product.location %></td>
              </tr>

              <tr>
                <td><b>Stock:</b></td>
                <td>&nbsp<%= product.supplyinstock %></td>
              </tr>

              <tr>
              <td> <%= link_to "Edit", edit_product_path(product) %> /  
              <%= link_to "Delete", product_path(product), method: :delete %></td>
            </tr>

             </table>
             <!--  <p>Discount: <%= product.discount %>%</p>
              <p>Production Date: <%= product.productiondate %></p>
              <p>Expiry Date: <%= product.date %></p>
              <p>Units Per Package: <%= product.unitsperpackage %></p>
              <p>Units: <%= product.units %></p>
              <p>Discripton: <%= product.productdiscription %></p>
              <p>Estimate Delivery Time: <%= product.deliverytime %></p>
              <p>Location: <%= product.location %></p>
              <p>Stock: <%= product.supplyinstock %></p>
             -->
          </div>
        </div>
    
      <% end %>           
                
              
      </div>
    </div>
  </div>
  </div>
  </div>
        
   

