

<div class="container">
  <div class="push-down-30">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="product-preview">
          <div class="push-down-20">
            <!-- <img class="js--product-preview" alt="Single product image" src="images/dummy/w360/13.jpg" width="360" height="458"> -->
             <%= image_tag @product.image.url(:thumb), :class=> "js--product-preview", :width=> "350", :height=>"360" %>
          </div>
          <!-- <div class="product-preview__thumbs  clearfix">
            <div class="product-preview__thumb  active  js--preview-thumbs">
              <a href=".js--product-preview" data-src="images/dummy/w360/13.jpg">
                <img src="images/dummy/w66/13.jpg" alt="Single product thumbnail image" width="66" height="82" />
              </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
              <a href=".js--product-preview" data-src="images/dummy/w360/9.jpg">
                <img src="images/dummy/w66/9.jpg" alt="Single product thumbnail image" width="66" height="82" />
              </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
              <a href=".js--product-preview" data-src="images/dummy/w360/10.jpg">
                <img src="images/dummy/w66/10.jpg" alt="Single product thumbnail image" width="66" height="82" />
              </a>
            </div>
            <div class="product-preview__thumb  js--preview-thumbs">
              <a href=".js--product-preview" data-src="images/dummy/w360/14.jpg">
                <img src="images/dummy/w66/14.jpg" alt="Single product thumbnail image" width="66" height="82" />
              </a>
            </div>
          </div> -->
        </div>
      </div>


      

      <div class="col-xs-12 col-sm-8">
        <div class="products__content">
          <div class="push-down-30"></div>
          
          <span class="products__category">Muesli</span>
          <h1 class="single-product__title"><span class="light">Fresh</span> Super Fruit</h1>
          <span class="single-product__price"><%= @product.price %></span>
          <!-- <div class="single-product__rating">
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-on"></span>
            <span class="glyphicon  glyphicon-star  star-off"></span>
          </div>
           -->
          <div class="in-stock--single-product">
            <span class="in-stock">&bull;</span> <span class="in-stock--text">In stock</span>
          </div>
          <hr class="bold__divider">
          <p class="single-product__text">
            <%=@product.productdiscription%>
          </p>
          <hr class="bold__divider">
          <!-- Single button -->
         <!--  <select class="btn  btn-shop">
            <option>350g</option>
            <option>700g</option>
            <option>1200g</option>
          </select> -->
          <!-- Quantity buttons -->

          	<%= form_for(@order_item, remote: true) do |f| %>
        					<%= f.hidden_field :product_id, value: @product.id %>
        					

        					<%= f.text_field :quantity, value: 1, min: 1, class: 'form-control' %>

        					<br>
        					<%= f.submit "Add to cart", class: 'btn btn-primary btn-sm', :onclick => "alert('Successfully added to cart!')" %>
                            <br><br>
                                <a href="/posts/new"><button class="button" style="vertical-align:middle, color: green "><span>Add Review </span></button></a>
        	<% end %>




         <!--  <div class="quantity  js--quantity">
            <input type="button" value="-" class="quantity__button  js--minus-one  js--clickable">
            <input type="text" name="quantity" value="1" class="quantity__input">
            <input type="button" value="+" class="quantity__button  js--plus-one  js--clickable">
          </div> -->
          <!-- Add to cart button -->
         <!--  <a class="btn btn-primary--transition" href="#">
            <span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-shopping-cart"></span>
            <span class="single-product__btn-text">Add to shopping cart</span>
          </a> -->
          <!-- Social banners -->
          <div class="row">
            <div class="col-xs-12  col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-facebook"></span>
                Share on<br>
                <span class="banners--small--text">Facebook</span>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-twitter"></span>
                Tweet it<br>
                <span class="banners--small--text">Twitter</span>
                </a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6  col-md-4">
              <div class="banners--small  banners--small--social">
                <a href="#" class="social"><span class="zocial-pinterest"></span>
                Pin on<br>
                <span class="banners--small--text">Pinterest</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs -->
  <div class="push-down-30">
    <div class="row">
      <div class="col-xs-12">
        <!-- Nav tabs -->
<!-- <ul class="nav  nav-tabs">
  <li class="active"><a href="#tabDesc" data-toggle="tab">Description</a></li>
  <li><a href="#tabManufacturer" data-toggle="tab">Manufacturer</a></li>
  <li><a href="#tabReviews" data-toggle="tab">Reviews (0)</a></li>
</ul> -->
<!-- <div class="tab-content">
  <div class="tab-pane  fade  in  active" id="tabDesc">
    <div class="row">
      <div class="col-xs-12  col-sm-6">
        <h5>Description</h5>
        <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
      </div>
      <div class="col-xs-12  col-sm-6">
        <h5>About us</h5>
        <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
      </div>
    </div>
  </div>
  <div class="tab-pane  fade" id="tabManufacturer">
    <h5>Manufacturer details</h5>
    <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst.</p>
  </div>
  <div class="tab-pane  fade" id="tabReviews">
    <h5>Reviews</h5>
    <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est purus, fringilla sit amet arcu quis, feugiat ultrices metus. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus. In hac habitasse platea dictumst. Vestibulum lorem dolor, pharetra sit amet urna nec, hendrerit scelerisque risus.</p>
  </div>
</div>
 -->

      </div>
    </div>
  </div>

  <!-- Navigation -->
  <div class="push-down-30">
    <div class="products-navigation">
      <div class="products-navigation__title">
        <h3><span class="light">Related</span> Products</h3>
      </div>
    </div>
  </div>

  <!-- Products -->
  <div class="push-down-30">
    <div class="row">
      
      
        
        
          <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-6" data-price="16.88" data-rating="4">
  <div class="products__single">
    <figure class="products__image">
      <a href="single-product.html">
        <img alt="#" class="product__image" width="263" height="334" src="/assets/1.jpg">
      </a>
      <div class="product-overlay">
        <a class="product-overlay__more" href="single-product.html">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="product-overlay__cart" href="#">
          +<span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="product-overlay__stock">
          <span class="in-stock">&bull;</span> <span class="in-stock--text">In stock</span>
        </div>
      </div>
    </figure>
    <div class="row">
      <div class="col-xs-9">
        <h5 class="products__title">
          <a class="products__link  js--isotope-title" href="single-product.html">High Protein Diet Mango</a>
        </h5>
      </div>
      <div class="col-xs-3">
        <div class="products__price">
          $16.88
        </div>
      </div>
    </div>
    <div class="products__category">
      Natural Proteins
    </div>
  </div>
</div>
        
      
        
        
          <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-3" data-price="4.61" data-rating="5">
  <div class="products__single">
    <figure class="products__image">
      <a href="single-product.html">
        <img alt="#" class="product__image" width="263" height="334" src="/assets/8.jpg">
      </a>
      <div class="product-overlay">
        <a class="product-overlay__more" href="single-product.html">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="product-overlay__cart" href="#">
          +<span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="product-overlay__stock">
          <span class="in-stock">&bull;</span> <span class="in-stock--text">In stock</span>
        </div>
      </div>
    </figure>
    <div class="row">
      <div class="col-xs-9">
        <h5 class="products__title">
          <a class="products__link  js--isotope-title" href="single-product.html">Bio Murve</a>
        </h5>
      </div>
      <div class="col-xs-3">
        <div class="products__price">
          $4.61
        </div>
      </div>
    </div>
    <div class="products__category">
      Bio
    </div>
  </div>
</div>
        
      
         <div class="clearfix visible-xs"></div> 
        
          <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-5" data-price="3.84" data-rating="5">
  <div class="products__single">
    <figure class="products__image">
      <a href="single-product.html">
        <img alt="#" class="product__image" width="263" height="334" src="/assets/17.jpg">
      </a>
      <div class="product-overlay">
        <a class="product-overlay__more" href="single-product.html">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="product-overlay__cart" href="#">
          +<span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="product-overlay__stock">
          <span class="out-of-stock">&bull;</span> <span class="in-stock--text">Out of stock</span>
        </div>
      </div>
    </figure>
    <div class="row">
      <div class="col-xs-9">
        <h5 class="products__title">
          <a class="products__link  js--isotope-title" href="single-product.html">Bio Muesli Fruits And Fibre</a>
        </h5>
      </div>
      <div class="col-xs-3">
        <div class="products__price">
          $3.84
        </div>
      </div>
    </div>
    <div class="products__category">
      Muesli
    </div>
  </div>
</div>
        
      
        
        
          <div class="col-xs-6 col-sm-3  js--isotope-target  js--cat-3" data-price="6.18" data-rating="4">
  <div class="products__single">
    <figure class="products__image">
      <a href="single-product.html">
        <img alt="#" class="product__image" width="263" height="334" src="/assets/16.jpg">
      </a>
      <div class="product-overlay">
        <a class="product-overlay__more" href="single-product.html">
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <a class="product-overlay__cart" href="#">
          +<span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
        <div class="product-overlay__stock">
          <span class="in-stock">&bull;</span> <span class="in-stock--text">In stock</span>
        </div>
      </div>
    </figure>
    <div class="row">
      <div class="col-xs-9">
        <h5 class="products__title">
          <a class="products__link  js--isotope-title" href="single-product.html">Bio Apricot Kernels</a>
        </h5>
      </div>
      <div class="col-xs-3">
        <div class="products__price">
          $6.18
        </div>
      </div>
    </div>
    <div class="products__category">
      Bio
    </div>
  </div>
</div>
        
      
    </div>
  </div>
</div>
  <!-- <footer class="js--page-footer">
    <div class="footer-widgets">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__social">
              <img class="push-down-10" alt="Footer Logo" src="images/logo-footer.png" width="139" height="35">
              <p class="push-down-15">Adipiscing elit. Ut ullamcorper consectetur, non lacinia turpis suscipit non. Estibulum nu nc lacus, tincidunt non odio eu, scelerisque tristique quam.</p>
              <a class="social-container" href="https://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
              <a class="social-container" href="https://twitter.com/ProteusNetCom"><span class="zocial-twitter"></span></a>
              <a class="social-container" href="#"><span class="zocial-email"></span></a>
              <a class="social-container" href="http://www.youtube.com/user/ProteusNetCompany"><span class="zocial-youtube"></span></a>
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <nav class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">Navigation</h4>
              </div>
              <ul class="nav nav-footer">
                <li><a href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about-us.html">Pages</a></li>
                <li><a href="features.html">Features</a></li>
                <li><a href="elements.html">Elements</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
              <div class="footer-wdgets__heading--line">
                <h4 class="footer-widgets__heading">Popular Tags</h4>
              </div>
              <a class="tag" href="shop.html">Food</a> <a class="tag" href="shop.html">Fungus</a> <a class="tag" href="shop.html">Lifestyle</a> <a class="tag" href="shop.html">Extras</a> <a class="tag" href="shop.html">Tea</a> <a class="tag" href="shop.html">Coffe</a> <a class="tag" href="shop.html">Fruit</a> <a class="tag" href="shop.html">Fruti &amp; vegetables</a> <a class="tag" href="shop.html">Fungus</a> <a class="tag" href="shop.html">Healthy</a>
            </div>
          </div>
          <div class="col-xs-12  col-sm-3">
            <div class="footer-widgets__navigation">
                <div class="footer-wdgets__heading--line">
                  <h4 class="footer-widgets__heading">Contact Us</h4>
                </div>
                <a class="footer__link" href="#">Organique ltd.</a><br>
                Tehnološki park 19,<br>
                1000 Ljubljana, Slovenia<br>
                <a class="footer__link--small" href="contact-2.html">View Google map <span class="glyphicon glyphicon-chevron-right glyphicon--footer-small"></span></a><br><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-earphone glyphicon--footer"></span> +386 31 567 537</a><br>
                <a class="footer__link" href="#"><span class="glyphicon glyphicon-envelope glyphicon--footer"></span> hello@proteusnet.com</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text--link">
              <a class="footer__link" href="#">Organique</a> HTML Theme © Copyright 2014. Images of products by <a class="footer__link" href="http://www.nutrisslim.com/" target="_blank">Nutrisslim</a>.
            </div>
          </div>
          <div class="col-xs-12  col-sm-6">
            <div class="footer__text">
              Made with <span class="glyphicon  glyphicon-heart"></span> by <a class="footer__link" href="http://www.proteusthemes.com/" target="_blank">ProteusThemes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="search-mode__overlay"></div>
    
    
    <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
    

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33538073-8', 'proteusthemes.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
 -->